/* Diese Regel nicht verändern! */
div {
  background-color: black;
  position: absolute; }

/* Deine Parameter: */
$one:         2%;
$two:     $one*2;
$three:   $one*3;
$four:    $one*4;
$five:    $one*5;
$six:     $one*6;
$base-colour:   blue;

$bridge:    $one;
$side:    $one*8;

/* Ab hier deine Regeln :-) */
.el-1 {
  top:     $bridge;
  height:     $one;
  left: $six+$side;
  right:$six+$side;
  background-color: $base-colour;
}

.el-2 {
  top:    $one+$bridge*2;
  height: $two;
  left:   $five+$side;
  right:  $five+$side;
  background-color: lighten($base-colour, $two*4);
}

.el-3 {
  top:    $two+$bridge*6;
  height: $three;
  left:   $four+$side;
  right:  $four+$side;
  background-color: lighten($base-colour, $three*4);
}

.el-4 {
  top:    $three+$bridge*13;
  height: $four;
  left:   $three+$side;
  right:  $three+$side;
  background-color: lighten($base-colour, $four*4);
}

.el-5 {
  top:    $four+$bridge*23;
  height: $five;
  left:   $two+$side;
  right:  $two+$side;
  background-color: lighten($base-colour, $five*4);
}

.el-6 {
  top:    $five+$bridge*36;
  height: $six;
  left:   $one+$side;
  right:  $one+$side;
  background-color: lighten($base-colour, $six*4);
}
