@charset "UTF-8";
/* Diese Regel nicht verändern! */
div {
  background-color: black;
  position: absolute;
}

/* Deine Parameter: */
/* Ab hier deine Regeln :-) */
.el-1 {
  top: 2%;
  height: 2%;
  left: 28%;
  right: 28%;
  background-color: blue;
}

.el-2 {
  top: 6%;
  height: 4%;
  left: 26%;
  right: 26%;
  background-color: #5252ff;
}

.el-3 {
  top: 16%;
  height: 6%;
  left: 24%;
  right: 24%;
  background-color: #7a7aff;
}

.el-4 {
  top: 32%;
  height: 8%;
  left: 22%;
  right: 22%;
  background-color: #a3a3ff;
}

.el-5 {
  top: 54%;
  height: 10%;
  left: 20%;
  right: 20%;
  background-color: #ccccff;
}

.el-6 {
  top: 82%;
  height: 12%;
  left: 18%;
  right: 18%;
  background-color: #f5f5ff;
}
